.content {
  margin: 0;
}

.theme-options {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  padding: 20px 0;

  div {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 2px 10px;
    border: 1px solid var(--border-color);
    display: inline-block;
    opacity: var(--inactive-opacity);

    &.active {
      opacity: var(--active-opacity);
    }
  }

  #theme-white {
    background-color: var(--co)
  }
  #theme-blue {
    background-color: var(--color-blue);
  }
  #theme-orange {
    background-color: var(--color-orange);
  }
  #theme-purple {
    background-color: var(--color-purple);
  }
  #theme-green {
    background-color: var(--color-green);
  }
  #theme-black {
    background-color: var(--color-black);
  }
}

.content.theme-white {
  background-color: var(--color-white-primary-background);
}
.content.theme-blue {
  background-color: var(--color-blue-primary-background);
}
.content.theme-orange {
  background-color: var(--color-orange-primary-background);
}
.content.theme-purple {
  background-color: var(--color-purple-primary-background);
}
.content.theme-green {
  background-color: var(--color-green-primary-background);
}
.content.theme-black {
  background-color: var(--color-black-primary-background);
}
