<div class="content-box {{ theme }}">
  <h3>Multiple Color Theme Switcher</h3>
  <h5>(Angular, CSS/SCSS, Local Storage)</h5>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ametvitae,
    adipisci enim quis eligendi eius cupiditate est iste odiotempora? Unde
    cumque laboriosam itaque consequatur, modi rem quo magnam.
  </p>
  <p>
    <!-- Printing theme for debugging -->
    <!-- Ensure we are getting the right theme from the parent-->
    {{ theme }}
  </p>
</div>
