/* You can add global styles to this file, and also import other style files */

/* Importing theme styles */
@import "../src/assets/themes/theme-white.css";
@import "../src/assets/themes/theme-blue.css";
@import "../src/assets/themes/theme-orange.css";
@import "../src/assets/themes/theme-purple.css";
@import "../src/assets/themes/theme-green.css";
@import "../src/assets/themes/theme-black.css";

/* Define color variables */
:root {
  --border-color: #000;
  --inactive-opacity: 0.5;
  --active-opacity: 1;

  /* Text Variables */
  --text-color-default: #222;
  --text-color-black: #000;
  --text-color-white: #ffffff;
  --text-secondary-color-white: #ccc;
}

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0;
  height: 100%;
  padding: 20px;
  height: 100vh;
}

.content {
  height: 100%;
}

h5.title {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding-top: 20px;
}
